/* SECTION: CSS Style for all Chapter Pages Herein */
/* Base Styling */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

/* base css for single page app no scroll */
html {
	min-height: 100%;
	overflow: hidden;
	margin: 0;
}
body {
	background-color: #000;
	min-height: 100%;
}

/* SECTION: Animated Chapter Intro Titles */
/* animated title background */
.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 10px;
}

.chapter1Intro h1 {
	background-image: url(https://media.giphy.com/media/xUOxeQkDWcfWGiTevu/source.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter2Intro h1 {
	background-image: url(https://media.giphy.com/media/26mkhTKYBbyy8904g/source.gif);
	background-size: 100px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter3Intro h1 {
	background-image: url(https://media.giphy.com/media/7E02rSL3X31b6y2FR1/source.gif);
	background-size: contain;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter4Intro h1 {
	background-image: url(https://media.giphy.com/media/xUPGcv5eervFUfR5g4/source.gif);
	background-size: contain;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}


/* SECTION: CHAPTER 1 */


.container {
	position: relative;
}

.container p {
	font-family: "Montserrat";
	color: #FFF;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: x-large;
}

.container h1 {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 10px;
}

.characterIntroduction {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.beginChapter1 {
	padding-top:15px;
}

.introductionImageChap1 img{
	position: absolute;
	z-index: 1;
}

#dialogueBoxes1 {
	position: relative;
	justify-content: center;
	text-align: center;
	padding: 1rem;
	color: white;
	background: linear-gradient(87deg, #000000, #000000, #700099, #d7004a, #4b001a, #000000);
    background-size: 1200% 1200%;
	top: 65vh;
	height: 20vh;
	padding-bottom: 30px;
	z-index: 35;
	background-color: black;
	-webkit-animation: dialogueBorderGrad 32s ease infinite;
    animation: dialogueBorderGrad 32s ease infinite;
}

@-webkit-keyframes dialogueBorderGrad {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}
@keyframes dialogueBorderGrad {
    0%{background-position:0% 52%}
    50%{background-position:100% 49%}
    100%{background-position:0% 52%}
}

#mainAstronaut {
	visibility: hidden;
	position: absolute;
	left: -20%;
	height: 25%;
	transition: 1000ms left ease-out;
	z-index: 30;
	margin-top: 350px;
}

.selections {
	width: 42px; 
	height: 42px;
	position: relative;
	width: auto;
	font-family: "Montserrat";
	text-align: center;
	align-items: center;
	justify-content: center;
	letter-spacing: 10px;
	margin-top: 15px;
	border: 0.1em solid rgba(255,255,255,.75);
	border-radius: 0.12em;
	text-decoration: none;
}

.selections:hover {
	color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
}


      




/* SECTION: CHAPTER 2 */

/* SECTION: CHAPTER 3 */

/* SECTION: CHAPTER 4 */