/* SECTION: CSS Style for all Chapter Pages Herein */
/* Base Styling */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
	background-color: #000;
}

/* SECTION: Animated Chapter Intro Titles */
/* animated title background */
.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 10px;
}

.chapter1Intro h1 {
	background-image: url(https://media.giphy.com/media/xUOxeQkDWcfWGiTevu/source.gif);
	background-size: cover;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter2Intro h1 {
	background-image: url(https://media.giphy.com/media/26mkhTKYBbyy8904g/source.gif);
	background-size: 100px;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter3Intro h1 {
	background-image: url(https://media.giphy.com/media/7E02rSL3X31b6y2FR1/source.gif);
	background-size: contain;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}

.chapter4Intro h1 {
	background-image: url(https://media.giphy.com/media/xUPGcv5eervFUfR5g4/source.gif);
	background-size: contain;
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
}


/* SECTION: CHAPTER 1 */


.container p {
	font-family: "Montserrat";
	color: #FFF;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.container h1 {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	letter-spacing: 10px;
}

.characterIntroduction {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.beginChapter1 {
	padding-top:15px;
}

.container {
	position: relative;
}

#partOneColumn1 {
	position: absolute;
	left: 0%;
	width: 0;
	height: 100vh;
	transition: 500ms width;
}

/* astronaut image */
#partOneColumn1 img {
	padding-top: 150px;
}

#partOneColumn2 {
	visibility: hidden;
	position: absolute;
	left: 25%;
	width: 0;
	height: 100vh;
	transition: 500ms width ease-in;
}

/* commander image */
#partOneColumn2 img {
	padding-top: 150px;
}

#partOneColumn3 {
	visibility: hidden;
	position: absolute;
	left: 50%;
	width: 0;
	height: 100vh;
	transition: 500ms width;
}

/* poetic AI image */
#partOneColumn3 img {
	padding-top: 150px;
}

#partOneColumn4 {
	visibility: hidden;
	position: absolute;
	left: 75%;
	width: 0;
	height: 100vh;
	transition: 500ms width;
}

/* Gargantua character image */
#partOneColumn4 img {
	padding-top: 150px;
}







/* SECTION: CHAPTER 2 */

/* SECTION: CHAPTER 3 */

/* SECTION: CHAPTER 4 */