/* Base Styling */
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body {
    background-color: black;
}

.mainContent {
    font-family: "Montserrat";
    text-align: center;
    color: aliceblue;
    letter-spacing: 10px;
    text-transform: uppercase;
	font-size: 80px;
	line-height: .95;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.mainIntroduction {
    font-family: "Montserrat";
    text-align: center;
    color: aliceblue;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

/*  CHAPTER SELECTION  */
.row {
    display: flex;
    padding-top: 15px; /* NOTE: only add padding on large desktop scr sizes */
  }
  
.chapter-card  {
    flex: 33.33%;
    padding: 5px;
    text-align: center;
  }

a {
    text-decoration: none;
}

.chapter-image img {
    margin-top: 15px;
    border-radius: 50%;
    max-width: 200px;
    box-shadow:none;
}

.chapter-image img:hover {
    box-shadow: 
    inset 0 0 30px rgb(255, 255, 255),      /* inner white - keep for subtle foggy look*/
        inset 20px 0 40px rgb(44, 44, 177),   /* inner left  */
        inset -20px 0 40px rgb(177, 177, 177),  /* inner right  */
        inset 20px 0 300px rgb(252, 90, 147),  /* inner left  */
        inset -20px 0 300px rgb(244, 6, 6), /* inner right  */
        0 0 30px #fff,            /* outer white for nice glow */
        -10px 0 40px rgba(0, 229, 255, 0.995),        /* outer left  */
        10px 0 40px rgb(212, 0, 255); 
}
